@page "{id}"
@model ProtoBoatRazorPage.Pages.Orders.OrderBoatModel
@{
    ViewData["Title"] = "OrderBoat";
}

<h1>OrderBoat</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <dl>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Boat.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Boat.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Boat.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Boat.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Boat.Type)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Boat.Type)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Boat.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Boat.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Boat.DateTime)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Boat.DateTime)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Boat.ImageName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Boat.ImageName)
                </dd>
            </dl>
            <div class="form-group">
                <label asp-for="@Model.BoatUser.Id" class="control-label"></label>
                <select asp-for="@Model.BoatUser.Id" class="form-control" 
                        asp-items="@Model.UserCodes">
                    <option value="">-- Select Id --</option>
                </select>
                <span asp-validation-for="@Model.BoatUser.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Order Boat" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="/Boats/IndexBoats">Back to List</a>
</div>
