@page
@model ProtoBoatRazorPage.Pages.Bookings.BookedBoatsModel
@{
    ViewData["Title"] = "BookedBoats";
}

<h1>BookedBoats</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Code
            </th>
            <th>
                Bruger
            </th>
            <th>
                Antal både
            </th>
            <th>
                Dato bestiling
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            <tr>
                <td>
                    @item.Value.Code
                </td>
                <td>
                    @item.Value.User.Name
                    @item.Value.User.LastName
                </td>
                <td>
                    @item.Value.Boats.Count
                </td>
                <td>
                    @item.Value.DateTime
                </td>
                <td>
                    <a asp-page="/Boats/EditBoat" asp-route-id="@item.Value.Code">Edit</a>|
                </td>
            </tr>
        }
    </tbody>
</table>
