@page
@model ProtoBoatRazorPage.Pages.Bookings.BookedBoatsModel
@using ProtoBoatRazorPage.Interfaces
@inject IBookingRepository _repository
@{
    ViewData["Title"] = "BookedBoats";
}
    <div>
        <ul>
            <li>There are @_repository.GetAllBookings().Count bookings </li>
        </ul>
    </div>
<h1>BookedeBåde</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Både
            </th>
            <th>
                Dato
            </th>
            <th>
                Bestillelse
            </th>
            <th>
                Bruger
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
            @foreach (var bt in item.Value.Boats)
            {
                <tr>
                    <td>@bt.Value.Name</td>
                    <td>@bt.Value.DateTime</td>
                    <td>
                        @item.Value.DateTime
                    </td>
                    <td>
                        @item.Value.User.Name
                        @item.Value.User.LastName
                    </td>
                    <td>
                        <a asp-page="/Boats/EditBoat" asp-route-id="@item.Value.Code">Edit</a>|
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
