@page "{id:int}"
@model ProtoBoatRazorPage.Pages.Boats.BoatDetailModel
@{
    ViewData["Title"] = "BoatDetail";
}

<h1>BoatDetail</h1>
<div class="container">
    <div>
        <div class="card-header">
            <img class="img-fluid" src="~/Boats/@Model.Boat.ImageName" />
            <p> Id: @Model.Boat.Id</p>
            <p> Name: @Model.Boat.Name</p>
            <p> Type: @Model.Boat.Type</p>
            <p> Description: @Model.Boat.Description</p>
        </div>
        <div class="card-footer text-center">
            <a asp-page="EditBoat" asp-route-id="@Model.Boat.Id" class="btn btn-primary m-1">Edit</a>
            <a asp-page="DeleteBoat" asp-route-id="@Model.Boat.Id" class="btn btn-primary">Delete</a>
            <a asp-page="/Bookings/BookBoat" asp-route-id="@Model.Boat.Id" class="btn btn-primary">Book</a>
        </div>
    </div>
</div>

