@page
@model ProtoBoatRazorPage.Pages.Boats.IndexBoatsModel
@{
    ViewData["Title"] = "IndexBoats";
}

<h1>Boats</h1>
<p>
    <a asp-page="CreateBoat" class="btn btn-primary">Add new Boat</a>
</p>
<form>
    <p>
        Search: <input type="text" asp-for="FilterCriteria" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Navn
            </th>
            <th>
                Type
            </th>
            <th>
                Billede
            </th>
            <th>
                Options
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Boats)
        {
            <tr>
                <td>
                    @item.Value.Id
                </td>
                <td>
                    <a asp-page="BoatDetail" asp-route-id="@item.Key" class="nav-link text-dark">
                        @item.Value.Name
                    </a>
                </td>
                <td>
                    @item.Value.Type
                </td>
            
                <td>
                    <img src="~/Boats/@item.Value.ImageName" class="rounded" width="80" height="70"/>
                </td>
                <td>
                    <p>
                        <a asp-page="/Bookings/BookBoat" asp-route-id="@item.Key" class="btn btn-primary">Book</a>
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Show Details</button>
                    </p>
                </td>
            </tr>
            <tr>

                <td>
                    <div id="demo" class="collapse">
                        @item.Value.Description
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>